/*Estilização do Login*/

body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 20px Roboto,arial,sans-serif;
  text-align: center;
}

.container {
  position: relative;
  left: -70px;
  top: 70px;
}

.img-login {

  position: relative;
  left: 47.5px;
  margin-bottom: 10px;
  border-radius: 6px;

}

.link-login-visitant {

  margin-top: 20px;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}



/*fim login*/
